@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&family=PT+Sans:ital@0;1&display=swap");
/* ****************************************** */
/* minimal reset */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* background-color: rgba(44, 114, 27, 0.596); */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
/* ************************************* */
/* variable declarations */
:root,
html[data-theme="light"] {
  --primary-font: "Nunito", sans-serif;
  --secondary-font: "PT Sans", sans-serif;

  --primary-bg: #ffffff;
  --on-primary: #26252d;

  --primary: #f4b422;
  --light-accent: #9b9d9d;
  --dark-accent: #8f7055;
}

[data-theme="dark"] {
  --primary-bg: #26252d;
  --on-primary: #ffffff;
}
/* ************************************ */

/* main style */
body {
  overflow-x: hidden;
  font-family: var(--primary-font);
  margin: 0 auto;
  background-color: var(--primary-bg);
  color: var(--on-primary);
}
/* content container */
.container {
  width: 80%;
  margin: 0 auto;
}
/* navigation container */
.nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0;
  font-size: 1.5rem;
}
/* navigation links container */
.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  color: var(--dark-accent);
}

.nav__link:hover {
  color: var(--primary);
}

.nav__link:active {
  color: var(--primary);
  text-decoration: underline;
}

/* name at the top of the page */
.nav__brand {
  color: var(--primary);
  font-weight: bold;
}

/* Home style */
.home {
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* card style */
.card {
  padding: 4rem;
  background-color: var(--light-accent);
  border-radius: 2rem;
  max-height: 50rem;
  overflow: hidden;
  width: 100%;
  margin-top: 2rem;
  transition: all 0.2s linear;
}

.card--wide {
  max-width: 65%;
}

.card--bg {
  background: url("https://www.aboghanbari.com/static/defaultcard-hover-5eef4f0957217910c705b56db7539e0f.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.card--small {
  max-width: 33%;
}

.card--medium {
  max-width: 49%;
  /* change to max-width after adding content */
}

.card__title {
  font-size: 4rem;
}

.card__text {
  margin: 5rem 0 10rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  background-color: rgba(2, 3, 3, 0.4);
}

.card__title--name {
  font-style: italic;
  color: var(--primary);
  font-weight: bold;
}

.contact {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.contact__btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 3.5rem;
  border-radius: 1.5rem;
  background-color: var(--primary);
  color: var(--primary-bg);
  font-size: 2rem;
  flex-shrink: 0;
}

.contact__btn:hover {
  background-color: var(--dark-accent);
}

.contact__btn:active {
  transform: scale(0.98);
}

.contact__social {
  background-color: var(--primary-bg);
  color: var(--dark-accent);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2rem;
  flex-shrink: 0;
  transition: font-size 0.2s linear;
}

.contact__social:hover,
.fa_brands:hover {
  background-color: transparent;
  font-size: 4rem;
}

#contact {
  margin-bottom: 4rem;
}

/* Projects Styling */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* *********************************** */

/* Animation styles */
@keyframes imgRotate {
  to {
    transform: rotate(30deg);
  }
}
